<div class = "jumbotron jumbotron-fluid">

    <div>
        <%= form_for movie, :html => {:class => "form-horizontal center"} do |f| %>
                <div class="container form-group">
                    <%= f.label :title, :class => "control-label" %>
                    <div>
                        <%= f.text_field :title, :class => "form-control" %>
                    </div>
                </div>

                <div class="container form-group">
                    <%= f.label :length, "Length(minutes)", :class => "control-label"%>
                    <div>
                        <%= f.number_field :length, :class => "form-control" %>
                    </div>
                </div>

                <div class="container form-group">
                <%= f.label :genre, :class => "control-label"%>
                    <div>
                        <%= f.text_field :genre, :class => "form-control" %>
                    </div>
                </div>

                <div class="container form-group">
                    <%= f.label :release_year, :class => "control-label" %>
                    <div>
                        <%= f.number_field :release_year, :class => "form-control" %>
                    </div>
                </div>

                <div class="container form-group">
                    <%= f.label :rating, "Rated", :class => "control-label"%>
                    <div>
                        <%= f.select :rating, [ 'G', 'PG', 'PG-13', 'R', 'N/A' ], :prompt => 'Select One', :class => "form-control" %>
                    </div>
                </div>

                <div class = "container text-center">
                    <%= f.submit "Submit", class: "btn btn-lg btn-dark btn-block" %>            
                </div>
        <% end %>
    </div>
</div>
