<%= form_for movie, :html => {:class => "form-horizontal center"} do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>

        <div class="form-group">
            <%= f.label :length, "Length(minutes)"%>
            <%= f.number_field :length%>
        </div>

        <div class="form-group">
          <%= f.label :genre%>
          <%= f.text_field :genre%>
        </div>

        <div class="form-group">
            <%= f.label :rating, "Rated"%>
            <%= f.text_field :rating%>
        </div>

        <div class="form-group">
           <%= f.label :release_year%>
           <%= f.number_field :release_year%>
        </div>

        <%= f.submit "Submit", class: "btn btn-dark" %>            
<% end %>

