<h1>Edit <%= @movie.title %></h1>

<!--- form partial --->

<%= form_for @movie do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>

    <%= f.label :length %>
    <%= f.number_field :length %>
    <br>
    <br>

    <%= f.label :genre %>
    <%= f.text_field :genre %>
    <br>
    <br>

    <%= f.label :rating, "Rated" %>
    <%= f.select :rating, options_for_select(["G", "PG", "PG-13", "R", "No Rating"], :selected => f.object.rating, include_blank: "Select") %>
    <br>
    <br>

    <%= f.label :release_year %>
    <%= f.number_field :release_year %>
    <br>
    <br>

    <%= f.submit %>

<% end %>