<h1><%= @movie.title %> show page</h1>

<h4>About this movie:</h4>
<ul>
    <li>Length(minutes): <%= @movie.length %></li>
    <li>Genre: <%= @movie.genre %></li>
    <li>Rating: <%= @movie.rating %></li>
    <li>Release Year: <%= @movie.release_year %></li>
</ul>