
            <% if @review.movie %>
                <h1>Review for <%= @review.movie.title %></h1>
            <% else %>
                <h1>New Review!</h1>
            <% end %>


<div class = "jumbotron jumbotron-fluid">
    <div>
        <%= form_for([review.movie, review], :html => {:class => "form-horizontal center"}) do |f| %>
            <div class="container form-group">
            <%= f.label :movie, "Select the movie you wish to review:", :class => "control-label" %>
                <%= f.collection_select :movie_id, Movie.order('title ASC').all, :id, :title, :include_blank => "Select a Movie", :class => "form-control" %>
            </div>

            <div class="container form-group">
                <%= f.label :recommend, "Would you recommend this movie?", :class => "control-label" %>
                <%= f.select :recommend, [ 'Yes', 'No' ], :prompt => 'Select One', :class => "form-control" %>
            </div>
            
            <div class="container form-group">
                <%= f.label :title, "Review Title:", :class => "control-label" %>
                <div>
                    <%= f.text_field :title, :class => "form-control" %>
                </div>
            </div>

            <div class="container form-group">
                <%= f.label :comment, "Comment:", :class => "control-label" %>
                <div>
                    <%= f.text_area :comment, :cols => 30, :rows => 5, :class => "form-control" %>
                </div>
            </div>

            <div class = "container text-center">
            <%= f.submit class: "btn btn-lg btn-dark btn-block" %>
            </div>
        <% end %>
    </div>
</div>
