<div class ="container">
  <% if @movie %>
    <h1>Reviews for <%= @movie.title%></h1>
  <% else %>
    <h1>All reviews:</h1>
  <% end %>

  <hr>

  <% @reviews.each do |rev| %>
      <ul>
        <li><strong>Review on <%= link_to rev.movie.title, movie_path(rev.movie_id) %> </strong>: 
        <p>Posted: <%= rev.created_at.strftime('%B %d, %Y') %> </p> 
        <ul> 
          <strong>Review title:</strong> <%= rev.title %>
          <br>
          <%= rev.comment %> - <em><%= rev.user.username %></em></li>
        </ul>
        <ul> 
          <% if current_user?(rev.user) %>
              <%= link_to "Edit", edit_review_path(rev) %> |
              <%= link_to "Delete", rev, method: :delete, data: { confirm: "Do you want to delete this post ?"}%>
          <% end %>
        </ul>
      </ul>
  <% end %>
</div>